<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<head layout:include="fragments/header :: headerFragment" th:remove="tag"/>
<title th:utext="#{search}"/>
</head>
<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">
<body layout:include="fragments/navbar :: navbarFragment" th:remove="tag"/>
<div class="container">
    <!--tables block -->
    <section class="span10 centered-div">
        <!-- connections -->
        <div class="page-header">
            <h1 th:utext="#{search}"/>
        </div>
    </section>

    <div class="row">
        <div class="span10 well">
            <input type="hidden" id="searchOffset" th:value="${start}"/>
            <form method="GET" accept-charset="ISO-8859-1">
                <input type="text" id="searchQuery" name="q" th:value="${query}" class="span8" required=""/>
                <button type="submit" name="submit" class="span4 btn btn-primary" th:utext="#{search}"/>
            </form>
            <div th:if="${query}" class="span10">
                <p><span th:utext="#{results.found}"/>: <span th:text="${searchResult.totalNum}"/></p>
                <span th:if="${searchResult.totalNum > 0}">
                    <!-- list of items-->
                    <div id="searchResultList">
                        <body layout:include="fragments/searchResult :: resultItemsFragment" th:remove="tag"/>
                    </div>

                    <button class="btn btn-info" id="viewMoreBtn"
                            th:if="${searchResult.totalNum > start + 10}"
                            onclick="viewNextSearchResultItems();" th:utext="#{load.more}"/>
                </span>
            </div>
        </div>
    </div>
    <!-- footer div -->
    <body layout:include="fragments/footer :: footerFragment" th:remove="tag"/>
</div>
<!-- scripts -->
<body layout:include="fragments/scripts :: scriptsFragment" th:remove="tag"/>
<script th:src="@{/js/custom/common.js}" />
</body>
</html>

