<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head layout:fragment="headerFragment">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
    <link rel="shortcut icon"  th:href="@{/img/favicon.ico}" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Maksym Goroshkevych"/>
    <meta name="description" content=""/>
    <meta name="keywords"  content=""/>
    <meta name="robots" content="all"/>
</head>
</html>