<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body layout:fragment="navbarFragment">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="nav-collapse collapse" id="main-menu">
                    <ul class="nav" id="main-menu-left">
                        <!-- for NOT authenticated users -->
                        <li><a th:href="@{/search}" th:utext="#{search}"/></li>
                        <li><a th:href="@{/index}" th:utext="#{index}"/></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="page-header">
            <h1> </h1>
        </div>
    </section>
</body>
</html>