<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body layout:fragment="resultItemsFragment">
<div class="row" th:each="item,stat : ${searchResult.items}">
    <h6> <span th:text="${stat.index + start + 1}"/>. <span th:utext="${item.pageHeader}"/></h6>
    <p th:utext="${item.pageBody}"/>
    <a th:href="${item.url}" th:text="${item.url}"/>
</div>
</body>
</html>