.footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 20px 0;
    text-align: center;
    bottom:0;
}

.page-header{

    border-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.centered-div{
    margin:0 auto !important;
    float:none !important;
}

.alert-success{
    padding: 5px;
    margin: 5px;
}

.alert{
    padding: 5px;
    margin: 5px;
}

em{
    background-color:yellow !important;
}